# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
ENV/

# Environment variables
.env
*.env.local

# Node / React
node_modules/
dist/
build/
.DS_Store

# IDE
.vscode/
.idea/

# Database / SQLite temporary files
*.db
*.sqlite3
